<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/Users/mervetuz/Documents/FH-Studium/are_u_here/are_u_here/public/style.css">
        <title>ARE U HERE - Page for Lectors</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    </head>

    <body>
        

        <header>
            <img src="Logo.jpg" width="120" height="120" alt="Logo">
        </header>

        <nav id="nav" style="padding-bottom: 2cm;">
            <div class="topnav" id="myTopnav">
                <a href="startseite.html">Home</a>
                <a href="#home" class="active">Verwaltung</a>
                    
                    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"> -->
                
                </a>
            </div>
        </nav>

 

        <div class="jumbotron">

            <div class="row">
                
                <div class="column" style="padding: 30px;">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="Lehrveranstaltungen.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Lehrveranstaltungen erstellen</h5>
                          <p class="card-text">Hier können Sie Lehrveranstaltungen erstellen, welche Sie in diesem Semester unterrichten.</p>
                          <a href="#" class="btn btn-primary">Erstellen</a>
                        </div>
                    </div>
                </div>


                <div class="column" style="padding: 30px;">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="termine.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Termine erstellen</h5>
                          <p class="card-text">Hier können Lehrveranstaktungstermine erstellt werden für die Lehrveranstaltungen die Sie unterrichten.</p>
                          <a href="#" class="btn btn-primary">Erstellen</a>
                        </div>
                    </div>
                </div>

                <div class="column" style="padding: 30px;">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="qr.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">QR-Code erstellen für Termin</h5>
                          <p class="card-text">Hier können Sie ihren QR-Code erstellen lassen, welchen Sie den Studierenden zeigen können, damit Sie sich elektronisch in die Anwesenheitsliste eintragen können</p>
                          <a href="#" class="btn btn-primary">Erstellen</a>
                        </div>
                    </div>
                </div>
   
            </div>

        </div>
        


    </body>

</html>